    <meta charset="UTF-8">
    <title>
        Demo | <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <% css.forEach(cssItem => { %>

        <link rel="stylesheet" type="text/css" href="/_assets/css/<%= cssItem %>">

    <% }); %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <% js.forEach(jsItem => { %>

        <script type="text/javascript" src="/_assets/js/<%= jsItem %>"></script>
        
    <% }); %>